.security-profile-container {
  padding-bottom: 2rem;

  &__pass-reset-message {
    margin: 3rem 0;
    color: $sbDarkestGray;

    a, a:hover {
      color: $sbDarkestGray;
      margin-left: 0.2rem;
      text-decoration: underline;
    }
  }

  &__pass-change .z-form__grid .button {
    margin-top: 1rem !important;
  }
}
