.billing-details{
  padding: 0rem 1.5rem;
  padding-bottom: 2rem;
  min-height: 100%;
  min-height: 100vh;
  .page-header{
    padding: 1.1rem 0rem;
  }

  .z-form {
    margin-bottom: 3rem;
    .button{
      margin-top: 2rem;
    }
  }
}

