@import './components/FeaturesSlider';

.identity-create {
  &__email-username-field__at-icon {
    display: none;
    position: absolute;
    top: 3.5rem;
    font-size: 2.2rem;
    right: 0.5rem;
    color: #979797;
  }

  &__top-country-field {
    display: none;
  }

  &__intro-container {
    border-top: 1px solid #e7e7e7;
  }

  &__intro {
    color: $sbMidGray;
    font-size: 1.4rem;
    max-width: 85rem;
    margin: 0 auto;
    padding: 3rem 2rem;

    &__image {
      display: block;
      width: 60%;
      max-width: 220px;
      margin: 0 auto;
    }

    &__content {
      margin-top: 2rem;
    }
  }

  @media (min-width: 500px) {
    &__email-username-field {
      @include span(5 of 10);
      position: relative;
      padding-right: 4rem;

      &__at-icon {
        display: inline;
      }
    }

    &__email-domain-field {
      @include span(5 of 10 last);
    }
  }

  @media (min-width: 768px) {
    &__top-country-field {
      display: block;
    }

    &__bottom-country-field {
      display: none;
    }

    &__intro {
      @include clearfix;
      padding: 5rem 0;

      &__image {
        @include span(3 of 11);
        max-width: none;
        margin-top: 3rem;
      }

      &__content {
        @include span(8 of 11 last);
        margin-top: 0;
        padding-left: 2rem;
      }
    }
  }
}

.cert-create {

  &-container{
    min-height: 100vh;
  }

  &__wait{
    text-align: center;
    padding: 2rem;

    &__icon{
      font-size: 2rem;
      display: inline-block;
      margin: 1.5rem;
    }
  }

  &__success-container{
    @include container;
    margin-bottom: 1rem;
  }

  &__progress {
    margin-bottom: 1rem;
    @include span(12 of 12);
    
    @media (min-width: $screen-sm) {
      @include span(1 of 2);
      &__last{
        @include last;
      }
    }
    
    &-container{
      margin: 2rem;
      @include span(12 of 12);
    }

    .z-form__help{
      font-size: 1.2rem;
      padding: 0;
    }

    .z-form__label{
      padding: 0;
    }
  }

  &__success-message{
    margin: 2rem;
    @include span(12 of 12);
    button{
      float: right;
      margin-left: 2rem;
    }
  }
}